body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#caja {
    border-radius: 3px;
    text-align: center;
    padding: 15%;
    background-color: red;
}

#botonCambio {
    margin-top: 15px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    background-color: blue;
    color: #f4f4f4;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}